.chat-window {
   
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 50vh;
 
    border-radius: 8px;
  }
  
  .chat-header {
    background-image: linear-gradient(to bottom, #0e0f0e, #222222, #353636, #4a4a4b, #606060);
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, #0e0f0e, #222222, #353636, #4a4a4b, #606060);
  }
  
  .message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  #you {
    align-self: flex-end;
    background-color: #dcf8c6;
  }
  
  #other {
    align-self: flex-start;
    background-color: #f1f0f0;
  }
  
  .message-content {
    margin-bottom: 5px;
  }
  
  .message-meta {
    text-align: right;
    font-size: 12px;
    color: #888;
  }
  
  .time, .author {
    margin: 0;
  }
  
  .chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  