
.inputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
padding: 100px;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #0e0f0e, #222222, #353636, #4a4a4b, #606060);
  border-radius: 8px;
}
.title{
   font-size: 16px;
   font-weight: bold;
   color: white;
   padding: 12px;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 5px;

}
.text{
  color: white;
  font-size: 12px;
  padding: 5px;
}
.input {
   

    border-radius: 8px;
  }

  
  .button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    background-color: blue;
    color: white;
  }

  .button:hover{
   
    background-color: turquoise;

  }